config hardware board
        option version '8.3'
        
config platform software
        option version '1.0.0'

config hardware module
        option type nmea0183
        option version '1.2'
        option interface 'serial'
        
config hardware network
        list device radio0
        list device eth0.1
        list device eth0.2

